/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.contact-image {
  width: 120px;
}

@media (min-width: 576px) {
  .contact-image {
    width: 180px;
  }
}

.contact-heading {
  color: #551e53;
  font-family: 'Roboto';
  font-weight: 450;
}

@media (min-width: 576px) {
  .contact-heading {
    font-size: 45px;
  }
}
